#sale-link {
    color: indianred;
}

body {
    background-color: rgb(238, 238, 238);
}

.accordion-button {
    background-color: rgb(238, 238, 238);
}

.fad-section {
    margin: 20px;
}

.no-border-toggle {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.no-border-toggle:focus {
  outline: none;
  box-shadow: none;
}

.portrait-image {
    width: 100%;
}

.carousel {
    margin: 30px;
}