<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>SFL Admin - Usuarios</title>
  <link rel="stylesheet" href="/Styles/bootstrap.css">
  <script src="https://kit.fontawesome.com/65448a561c.js" crossorigin="anonymous"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
  <script src="/JS/mapboxAddressAutocomplete.js"></script>
  <link rel="stylesheet" href="/Styles/users.css">
</head>
<body class="p-4">